* {
  box-sizing: border-box;
}
html {
  font-size: 62, 5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* *********common******** */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 11px 16px;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: black;
}
/* ********header********* */
.header {
  background: blueviolet;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: rgb(69, 64, 64);
  font-size: 1.6rem;
  /* background-color: blue; */
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: black;
  text-shadow: 1 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: black;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
